<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Umbrella - HTML SCSS/CSS</title>
        <meta name="viewport" content="user-scalable=yes, width=device-width" />
        <meta name="description" content="">
        <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, width=device-width" />
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/pe-icon-7-stroke.css">
        <link rel="stylesheet" href="http://daneden.github.io/animate.css/animate.min.css">
        <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,600|Indie+Flower|Dancing+Script:400,700' rel='stylesheet' type='text/css'>

        <script src="scripts/modernizr.js"></script>
        <script src="scripts/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints-sticky.min.js"></script>
        <script src="http://owlgraphic.com/owlcarousel/owl-carousel/owl.carousel.js"></script>
        <script src="scripts/bootstrap.min.js"></script>
        <script src="scripts/singlenav.js"></script>
        <script type="text/javascript">
        $('#science').waypoint (function(){
    hypeDocument.startTimelineNamed('Main Timeline');
}, { offset: 800 });
        this.destroy()
        </script>
        <style>
        html {
            height:100%;
            width: 100%;
            margin: 0;
            padding: 0;
        }
        body {
            background-color: #FFFFFF;
            margin:0;
            padding: 0;
            height:100%;
            width: 100%;
        }
    </style>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <header id="home">
            <div class="overlay"></div>
            <section class="top-navigation">
                    <div class="container">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- <div class="container"> -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                            <a class="navbar-left navbar-brand logo" href="/">
                                <img src="assets/grobrologo.png" alt="">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right main-navigation">
                                <li><a href="#home" class="subNavBtn">Home</a></li>
                                <li><a href="#about" class="subNavBtn">Features</a></li>
                                <li><a href="#features" class="subNavBtn">Products</a></li>
                                <li><a href="#testimonials" class="subNavBtn">About</a></li>
                                <li><a href="#contact" class="subNavBtn">Contact</a></li>
                            </ul>
                        </div>
                    <!-- </div> -->
                </nav>
                    </div>
            </section>
            <section class="hero">
                <div class="container">
                    <div class="col-md-7 col-lg-9 col-sm-6">
                        <div class="hero-details" align="center">
                            <h1> </h1>
                            <h3>GroBro Lights</h3>
                            <ul class="clearfix">
                                <li>
                                    <p><span class="pe-7s-leaf"></span>Higher Quality Growth</p>
                                </li>
                                <li>
                                    <p><span class="pe-7s-science"></span>40% More Yield</p>
                                </li>
                                <li>
                                    <p><span class="pe-7s-gleam"></span>Highly Energy Efficient</p>
                                </li>
                                <li>
                                    <p><span class="pe-7s-rocket"></span>Designed With NASA Scientists</p>
                                </li>
                                <li>
                                    <p><span class="pe-7s-sun"></span>Provides Optimum Spectrum of Light</p>
                                </li>
                                <li>
                                    <p><span class="pe-7s-hourglass"></span>50,000 Hour Lifespan</p>
                                </li>
                            </ul>
                           
                        </div>
                    </div>
                    
                  
                    <div class="col-md-5 col-lg-3 col-sm-6 col-xs-12">
                        <div class="well home-well">
                        <br />
                            <h3>Become a GroBro!</h3>
                            <ul>
                                <li><span class="pe-7s-check"></span>Gain access to some of the top minds in the field.
                                </li>
                                <li><span class="pe-7s-check"></span>Financing terms directly from GroBro. We stand behind what we sell.
                                </li>
                                <li><span class="pe-7s-check"></span>Industry Leading Warrantly and support</li>
                                 <li><span class="pe-7s-check"></span>24/7 support</li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section id="about" class="about-index">
            <div class="container">
                <div class="special-heading text-center clearfix">
                <h2 class="heading about-h">Why GroBro</h2>
                    <h4 class="additional-info">Whether you’re new to the industry or have been doing it all your life, the marijuana industry can at times seem like the Wild West. GroBro sees itself differently than other industry merchants. We are a vehicle to a better way of growing plants and doing business. Our mission is to sort through the science, methods, and products in the cultivation world then deliver only the best. With GroBro, future harvests will no longer be uncertain - they will be abundant. We invite you to participate, learn and become a GroBro!</h4>
                </div>
            <div class="container about-c">
               <div class="col-lg-4 about-i">
               
                   <button type="button" class="btn btn-default btn-lg" data-toggle="modal" style="width:100%;" style="height:100%;" data-target="#lightScience"><div class="col-lg-12"><img src="../assets/hand-with-plant2.png"></div><div class="col-lg-12">Light Science</div></button>
                   <div class="modal fade" id="lightScience" tabindex="-1" role="dialog" aria-labelledby="vividBuyModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="vividBuyModalLabel">Buy VividGro Light</h4>
                          </div>
                          <div class="modal-body">
                            <div id="gls_hype_container" style="margin:auto;position:relative;width:100%;height:568px;overflow:hidden;" aria-live="polite">
                            <script type="text/javascript" charset="utf-8" src="assets/gls_hype_generated_script.js?78008"></script>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
               </div>
               <div class="col-lg-4 about-i">
                   <button type="button" class="btn btn-default btn-lg" data-toggle="modal" style="width:100%;" style="height:100%;" data-target="#vividBuyModal"><div class="col-lg-12"><img src="../assets/cannabis.png"></div><div class="col-lg-12">Life Science</div></button>
               </div>
               <div class="col-lg-4 about-i">
                   <button type="button" class="btn btn-default btn-lg" data-toggle="modal" style="width:100%;" style="height:100%;" data-target="#vividBuyModal"><div class="col-lg-12"><img src="../assets/palm.png"></div><div class="col-lg-12">Bro Science</div></button>
               </div>
            </div>
            </div>
        </section>
        
        <!--
        <section class="showreel" id="showreel">
            <img src="assets/gls-logo-4.png" alt="Umbrella" class="branded-showreel">
            <div class="container text-center">
                <a href="#" class="clearfix">
                    <p>Show</p>
                    <span class="pe-7s-play"></span>
                    <p>Reel</p>
                </a>
            </div>
        </section>
        -->
        <section class="features" id="features">
            <div class="container">
                <div class="special-heading text-center clearfix">
                    <h2 class="heading">Products</h2>
                    <h4 class="additional-info">GroBro takes a single-minded approach to LED solutions. We’ve given our undivided attention to the VividGro High Bay and MyNature Grow bulbs by the Lighting Science Group (LSG) because, simply put, they're best products out there.</h4>
                </div>
            </div>
            <div class="container feature-content">
                <div class="col-md-6 feature-meta col-sm-12 col-xs-12" align="center">
                    <h3>VividGro High Bay</h3>
                    <img src="assets/vividgro2.png" height="250px">
                    <div class="feature-detail" data-target="#iphone-carousel" data-slide-to="0">
                        <span class="pe-7s-sun"></span>
                        <h5>Better Light</h5>
                        <p>More than 50% greater PAR than HPS lights.  (PAR defines the type of light which is needed to support photosynthesis in plant life.)</p>
                    </div>
                    <div class="feature-detail"  data-target="#iphone-carousel" data-slide-to="1">
                        <span class="pe-7s-magic-wand"></span>
                        <h5>Get the Most</h5>
                        <p>Spectrum tailored to maximize photosynthetic absorption spectrum.</p>
                    </div>
                    <div class="feature-detail"  data-target="#iphone-carousel" data-slide-to="2">
                        <span class="pe-7s-leaf"></span>
                        <h5>Made for Fruits and Flowers</h5>
                        <p>Spectrum suitable for germination, growth and flowering/fruiting.</p>
                    </div>
                    <div class="feature-detail"  data-target="#iphone-carousel" data-slide-to="5">
                        <span class="pe-7s-light"></span>
                        <h5>Never Stop Harvesting</h5>
                        <p>Lasts an average of 50,000 hours.</p>
                    </div>
                    </br>
                    <!-- Button trigger modal -->
                    <button type="button" class="col-md-5 btn btn-info btn-md" data-toggle="modal" data-target="#vividInfoModal">
                      More Info
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="vividInfoModal" tabindex="-1" role="dialog" aria-labelledby="vividInfoModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="vividInfoModalLabel">VividGro Highbay</h4>
                          </div>
                          <div class="modal-body" align="left">
                          <img src="assets/vividgro2.png" height="250px" margin="0">
                            <h2>Grow Lights Are Not All Created Equal</h2>
                                <p>Go ahead, play Mother Nature. VividGro Highbay grow lights deliver maximum photosynthetic efficiency for healthy plant growth and vivid color saturation – all while using 40% less energy than HPS lighting.</p>
                                <blockquote>
                                <ul type="square">
                                <li>Provides maximum light intensity with increased Photosynthetically Active Radiation (PAR) needed to support growth, development, and yield.</li>
                                <li>Save time, energy and money using the most efficient LED grow light available</li>
                                <li>Fresh-tasting crops produced during winter</li>
                                <li>Continual planting; Harvests all year long</li>
                                </ul>
                                </blockquote>
                                <h3>Superior Thermal Management</h3>

                                Experience reduced cooling and energy costs when using VividGro LED grow lights. The luminaire runs 40% cooler than HID lighting.

                                <h3>Provides Maximum Light</h3>

                                VividGro provides maximum light intensity with increased Photosynthetically Active Radiation (PAR) needed to support growth, development, and yield. Contains more blue in the spectrum compared to HPS to support sturdy plants and compact growth.

                                <h3>Control Your Spectral Range</h3>

                                Not all light is created equal. VividGro LED-optimized horticulture lighting provides the optimal spectral output to promote photosynthesis. Our proprietary LED sources provide significantly more red and blue PAR per watt than the competition.

                                <h3>Benefits</h3>
                                <blockquote>
                                <ul type="square">
                                <li>Up to 70% more delivered μmol PAR/J than HPS.</li>
                                <li>40% less energy required to produce an equivalent amount of PAR compared to HPS</li>
                                <li>High PAR output and increased photosynthetic efficiency</li>
                                <li>Spectrum tailored to maximize photosynthetic absorption efficiency</li>
                                <li>Spectrum suitable for germination, vegetative growth and flowering/fruiting</li>
                                <li>No radiated heat to allow for maximum irradiance at close proximity to plant canopy.</li>
                                <li>Low-profile modern design. Compact size for small spaces and unobtrusive aesthetics.</li>
                                <li>Passive cooling, no fans, moving parts or noise</li>
                                </ul>
                                </blockquote>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2"></div>
                    <!-- Button trigger modal -->
                    <button type="button" class="col-md-5 btn btn-success btn-md" data-toggle="modal" data-target="#vividBuyModal">
                      Buy Now
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="vividBuyModal" tabindex="-1" role="dialog" aria-labelledby="vividBuyModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="vividBuyModalLabel">Buy VividGro Light</h4>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

                
                <div class="col-md-6 feature-meta col-sm-12 col-xs-12" align="center">
                    <h3>MyNature Grow</h3>
                    <img src="assets/gro2.jpg" height="250px" margin="0">
                    <div class="feature-detail"  data-target="#iphone-carousel" data-slide-to="3">
                        <span class="pe-7s-wristwatch"></span>
                        <h5>Save Time and Money</h5>
                        <p>Burns cool, reducing cooling and watering costs.</p>
                    </div>
                    <div class="feature-detail"  data-target="#iphone-carousel" data-slide-to="4">
                        <span class="pe-7s-leaf"></span>
                        <h5>Eat Fresh</h5>
                        <p>Provides the most appropriate light for each phase of growth.</p>
                    </div>
                    <div class="feature-detail"  data-target="#iphone-carousel" data-slide-to="5">
                        <span class="pe-7s-tools"></span>
                        <h5>Fits Your Needs</h5>
                        <p>Available in blue/red (purple) and white light spectrums. Fits standard light bulb sockets. No tools or apps required.</p>
                    </div>
                    <div class="feature-detail"  data-target="#iphone-carousel" data-slide-to="5">
                        <span class="pe-7s-light"></span>
                        <h5>Never Stop Harvesting</h5>
                        <p>Lasts an average of 50,000 hours.</p>
                    </div>
                    </br>
                    <!-- Button trigger modal -->
                    <button type="button" class="col-md-5 btn btn-info btn-md" data-toggle="modal" data-target="#myNatureInfoModal">
                      More Info
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myNatureInfoModal" tabindex="-1" role="dialog" aria-labelledby="myNatureInfoModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myNatureInfoModalLabel">MyNature Grow Light</h4>
                          </div>
                          <div class="modal-body" align="left">
                          <img src="assets/gro2.jpg" height="250px" margin="0">
                            <p>
                            The Grow Advantage PAR38 LED Grow lamp is energy efficient and spectrally optimized lighting solution for a variety of horticultural lighting applications including homeowner/hobbyist, greenhouse and growth chamber.</p>
                            <p>
                            The lamp optimizes delivered photo synthetically active radiation (PAR) to maximize plant growth and PAR efficacy while providing white light suitable for the human visual system and excellent color saturation.</p>
                            <p>
                            The spectrum contains 12% blue (400-500nm) to support strong stems and compact growth. It provides excellent color saturation of plants under My Nature Grow broad spectrum all while generating much less heat and providing dramatic energy savings over traditional grow lights.</p>
                             <blockquote>
                                <ul type="square">
                            <li>Excellent PAR output (22.40 mol / s) and photosynthetic efficiency</li>
                            <li>Spectrum contains 23% Blue (400-500nm) to support strong stems and compact growth.</li>
                            <li>Burns cool, reducing cooling and watering costs</li>
                            <li>Rated Life L70 50,000 Hours @ 40°C</li>
                            <li>Warranty: 5 Year Limited</li>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2"></div>
                    <!-- Button trigger modal -->
                    <button type="button" class="col-md-5 btn btn-success btn-md" data-toggle="modal" data-target="#vividBuyModal">
                      Buy Now
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="vividBuyModal" tabindex="-1" role="dialog" aria-labelledby="vividBuyModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="vividBuyModalLabel">Buy MyNature Grow Bulb</h4>
                          </div>
                          <div class="modal-body">
                            ...
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>
        <!--
        <section class="about" id="about">
            <div class="container">
                <div class="special-heading text-center clearfix">
                    <h2 class="heading">People behind the App</h2>
                    <h4 class="additional-info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</h4>
                </div>
            </div>
            <ul class="list-inline peeps container">
                <li class="col-md-3 col-sm-12 col-xs-12">
                    <figure>
                        <figcaption>
                            <h6>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</h6>
                            <ul class="list-inline text-center social-buttons">
                                <li>
                                    <a href="#" title="Umbrella on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Umbrella on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Umbrella on Google+"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                    <h5 class="lower-heading">John Doe</h5>
                    <p>Lead Designer</p>
                </li>
                <li class="col-md-3 col-sm-12 col-xs-12">
                    <figure>
                        <figcaption>
                            <h6>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</h6>
                            <ul class="list-inline text-center social-buttons">
                                <li>
                                    <a href="#" title="Umbrella on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Umbrella on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Umbrella on Google+"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                    <h5 class="lower-heading">Amanda Fenrnicas</h5>
                    <p>Lead Designer</p>
                </li>
                <li class="col-md-3 col-sm-12 col-xs-12">
                    <figure>
                        <figcaption>
                            <h6>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</h6>
                            <ul class="list-inline text-center social-buttons">
                                <li>
                                    <a href="#" title="Umbrella on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Umbrella on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Umbrella on Google+"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                    <h5 class="lower-heading">Hamberg Rodny </h5>
                    <p>Artist</p>
                </li>
                <li class="col-md-3 col-sm-12 col-xs-12">
                    <figure>
                        <figcaption>
                            <h6>sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem.</h6>
                            <ul class="list-inline text-center social-buttons">
                                <li>
                                    <a href="#" title="Umbrella on Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Umbrella on Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#" title="Umbrella on Google+"><i class="fa fa-google-plus"></i></a>
                                </li>
                            </ul>
                        </figcaption>
                    </figure>
                    <h5 class="lower-heading">Jessica Leonardo</h5>
                    <p>Photographer</p>
                </li>
            </ul>
        </section>
        -->

       

        <section class="testimonials" id="testimonials">
            <div class="container">
                <div class="special-heading text-center clearfix">
                    <h2 class="heading testimonial">"</h2>
                    <h4 class="additional-info">GrowBro lights are the best light for growing flowering plant life. The spectrum of light covers more of the plant than any other light on the market. I would use this thing in fucking space any day.</h4>
                </div>
                <div class="container testimonial-meta">
                    <div class="text-center">
                        <div class="image-holder">
                        <img src="assets/niel.png">
                        </div>
                        <h5 class="lower-heading">Robert Leonaro</h5>
                        <p>NASA Scientist</p>
                    </div>
                </div>
            </div>
        </section>
        <!--
        <section class="featured-in" id="featured-in">
            <div class="container">
                <div class="special-heading text-center clearfix">
                    <h2 class="heading">Featured in</h2>
                    <ul class="list-inline clearfix">
                        <li><a href="#"><img src="assets/featured/the_verge.png" alt="The Verge"></a></li>
                        <li><a href="#"><img src="assets/featured/mashable.png" alt="Mashable"></a></li>
                        <li><a href="#"><img src="assets/featured/tnw.png" alt="TNW"></a></li>
                        <li><a href="#"><img src="assets/featured/behance.png" alt="Behance"></a></li>
                        <li><a href="#"><img src="assets/featured/dribbble.png" alt="Dribbble"></a></li>
                    </ul>
                </div>
            </div>
        </section>
        -->
        <section class="contact clearfix" id="contact">
            <div class="container">
                <div class="special-heading text-center clearfix">
                    <h2 class="heading">Get in touch</h2>
                    <h4 class="additional-info">If you are interested in our products please contact us using the form below. We do our best to respond to each inquiry within 24 hours, if not sooner.</h4>
                </div>
            </div>
            <div class="container contact-content">
                <div class="col-md-6 col-xs-10 clearfix">
                    <h3 class="custom">Ask a Question</h3>
                    <form class="form-horizontal">
                        <input type="text" class="input-xlarge col-xs-12" placeholder="Name">
                        <input type="text" class="input-xlarge col-xs-12" placeholder="Email">
                        <textarea class="input-xlarge col-xs-12" placeholder="Message"></textarea>
                        <div class="form-action">
                            <a type="submit" class="btn btn-link pull-left"><span class="pe-7s-mail"></span>Send message</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-1 col-xs-2">
                    <ul class="social-profiles text-center">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 contact-image">
                    <img src="assets/stalk.jpg" alt="">
                </div>
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="col-md-3 col-xs-12">
                    <img src="assets/grobrologo.png" alt="">
                    <p class="about-footer">Our LED grow lighting solution is well-suited to provide the most appropriate light for each phase of growth and type of plant, from seedling to vegetative to flowering.</p>
                </div>
                <div class="col-md-3 col-xs-12">
                   
                </div>
                <div class="col-md-3 col-xs-12">
                  
                </div>
                <div class="col-md-3 col-xs-12 copyrights">
                    <h4>&nbsp;</h4>
                    <p>Coded with <i class="fa fa-heart"></i> by <a href="http://www.mironc.com/" target="_blank">John Hawley</a></p>
                    <p>Created by <a href="https://www.facebook.com/jehawley" target="_blank">johnhawley</a>, exclusively for <a href="http://www.greenlightscience.com" target="_blank">greenlightscience</a>. </p>
                    <p>&copy; 2015. All Rights Reserved.</p>
                </div>
            </div>
        </footer>
        <!-- <section class="hero container">
            <h1>Heading 1</h1>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A rerum, iusto facere, fugit corporis provident dicta odit expedita at nesciunt!</p>
            <a href="#" class="btn btn-primary">Primary Button</a>
            <a href="#" class="btn btn-link">Link Button</a>
        </section> -->

        <script src="scripts/main.js"></script>

      

</body>
</html>
