<!DOCTYPE html>
<html>
<head>
  <title>Grobro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css">

	<!-- Optional - Adds useful class to manipulate icon font display -->
	<link rel="stylesheet" href="assets/pe-icon-7-stroke/css/helper.css">
</head>
</head>
<body>

<%= yield %>

</body>
</html>
